.player-container{
    display: flex;
    align-items: center;
    border: 1px solid white;
    border-right: hidden;
    border-radius: 50px 0 0 50px;
    background-color: green;

    img{
        width: 100px;
        height: width;
        object-fit: cover;
        border-radius: 100%;
    }
    span{
        font-size: 40px;
        margin-left: 16px;
        margin-right: 16px;
        color: white;
    }
}