.player-container {
    display: flex;
    align-items: center;
    border: 1px solid white;
    border-left: hidden;
    border-radius: 0 50px 50px 0;
    background-color: rgba(63, 81, 181, 0.3);

    .profile-img {
        width: 50px;
        height: width;
        object-fit: cover;
        border-radius: 100%;
    }

    .delete-img {
        width: 25px;
        height: width;
        object-fit: cover;
        cursor: pointer;
    }
    
    span {
        font-size: 40px;
        margin-left: 16px;
        margin-right: 16px;
        color: white;
    }

    @media (max-width: 720px) {
        .profile-img {
            width: 35px;
        }
        span {
            font-size: 24px !important;
            margin-left: 8px !important;
            margin-right: 8px !important;
        }
    }
}

.player-aktive {
    background-color: rgb(63, 81, 181);
}

.hide-player {
    display: none;
}
