<div class="game-box">
    <div class="card-stack">
        <img *ngFor="let c of [0,1,2,3]; let i= index" [ngStyle]="{'right.px': i * 5}"
            src="assets/img/all cards(400 dpi)/53.png">

        <!-- top card -->
        <img (click)="takeCard()" class="top-card" style="right: 25px;" src="assets/img/all cards(400 dpi)/53.png">

        <!-- stack for played cards -->
        <img *ngFor="let c of game.playedCards" class="played-card" src="assets/img/all cards(400 dpi)/{{ c }}.png">

        <!-- pick card -->
        <img (click)="takeCard()" *ngIf="pickCardAnimation" class="pick-card" style="right: 25px;"
            src="assets/img/all cards(400 dpi)/{{ currentCard }}.png">
    </div>
</div>

<app-player *ngFor="let player of game.players; let i= index;" [ngStyle]="{'top.px': 40 + (i * 60)}" [name]="player"
    [playerAktive]="i == game.currentPlayer" class="player-position"></app-player>

<button (click)="openDialog()" class="add-player-btn" mat-fab color="primary"
    aria-label="Example icon button with a bookmark icon">
    <mat-icon>add</mat-icon>
</button>
<button (click)="newGame()" class="refresh-button" mat-fab color="primary">
    <mat-icon>refresh</mat-icon>
</button>

<app-game-info [card]="currentCard" class="info-bottom"></app-game-info>